<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Kwiaciarnia internetowa</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/mystyle.css}"/>
</head>
<body>

<header>
    <table width="100%">
        <thead>
        <tr>
            <th style="width: 20%"></th>
            <th style="width: 60%">
                <div class="whiteNav">
                    <div class="greenNav">
                        Kwiatek
                    </div>
                </div>
            </th>
            <th style="width: 20%" align="right">
                <table>
                    <tr>
                        <td style="padding-right: 10px">
                            <img src="images/user.png" height="65" width="65" class="userImage"/>
                        </td>
                        <td align="left">
                            <table>
                                <tr>
                                    <td style="color: gray">
                                        Użytkownik
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Marcin Wątroba
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </th>
        </tr>
        </thead>
    </table>
</header>

<nav style="padding-bottom: 8px">
    <table width="100%" align="center">
        <thead>
        <tr>
            <th style="width: 20%"></th>

            <th style="width: 60%;" align="center">
                <table border="1px" class="navTable">
                    <thead>
                    <tr>
                        <th>
                            <a href="/"><b>Oferta</b></a>
                        </th>
                        <th>
                            <a href="/basket"><b>Koszyk</b></a>
                        </th>
                        <th>
                            <a href="/orders"><b>Moje zamówienia</b></a>
                        </th>
                        <th>
                            Moje konto
                        </th>
                    </tr>
                    </thead>
                </table>
            </th>

            <th style="width: 20%"></th>
        </tr>
        </thead>
    </table>
</nav>

<table style="width: 100%">
    <thead>
    <th style="width: 20%">
        <div class="adsContainer">
            MIEJSCE NA TWOJĄ <br/>REKLAMĘ
        </div>
    </th>
    <th style="width: 60%" align="top">
        <div class="mainBorder">
            <div class="mainContainer">
                <h2>Twoje zamówienie zostało zatwierdzone</h2>
                <p>
                    Twoje zamówienie nr #<span th:text="${orderId}"></span> zostało zaakceptowane.
                </p>
                <p>
                    Potwierdzenie zostało wysłane na Twój adres e-mail.
                </p>
                <p>
                    Proszę o wybranie sposobu płatności online<br/>
                </p>
                <form action="/prepareDataToTransfer" method="post">
                    <input type="hidden" name="onlinePaymentType" value="transfer"/>
                    <input type="hidden" name="orderId" th:value="${orderId}"/>
                    <input type="submit" value="Płatność przelewem"/>
                </form>
                <form action="/payByCard" method="post">
                    <input type="hidden" name="onlinePaymentType" value="card"/>
                    <input type="hidden" name="orderId" th:value="${orderId}"/>
                    <input type="submit" value="Płatność kartą"/>
                </form>
            </div>
        </div>
    </th>
    <th style="width: 20%">
        <div class="adsContainer">
            MIEJSCE NA TWOJĄ <br/>REKLAMĘ
        </div>
    </th>
    </thead>
</table>

</body>
</html>